*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
    user-select: none;
}

.wrapper{
    width: 100%;
    height: auto;
    padding: 1em;
}

#add-form{
    width: 100%;
    height: inherit;
    padding: 1em;
    border-radius: .25em;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

#add-form #form-data{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#add-form #form-data h3{
    color: #1b2846;
    margin-top: .75em;
}

#add-form select{
    border: 1px solid #1b2846;
    padding: .25em;
    border-radius: .25em;
    outline: none;
    cursor: pointer;
}

#add-form #addressF{
    resize: none;
    padding: .5em;
    outline: none;
    border-radius: .25em;
}

#add-form .custom-radio{
    display: flex;
    align-items: center;
    gap: .5em;
}

#add-form .custom-radio input[type=radio]{
    accent-color: #1b2846;
}

#add-form .custom-radio label{
    font-size: .8em;
}

#other-size{
    padding: .5em;
    font-size: .8em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: .25em;
}

#other-size:focus{
    border: 1.5px solid #1b2846;
}

#add-form input[type=number]{
    padding: .5em;
    border-radius: .25em;
    border-style: solid;
    outline: none;
}

#add-form input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

#custom-file-upload-wrapper{
    padding: .5em;
    background-color: #1b2846;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50em;
    position: relative;
}

#custom-file-upload-wrapper input[type=file] {
    cursor: pointer;
    width: 100%;
    opacity: 0;
    position: absolute;
    border: 1px solid red;
}

#custom-file-upload-wrapper label{
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-prop-btn{
    border: 1px solid #1b2846;
    color: #1b2846;
    cursor: pointer;
    font-size: 1em;
    background-color: inherit;
    padding: .5em;
    border-radius: 50em;
}

#add-form #previewImg{
    width: 60%;
    overflow-y: scroll;
    border-radius: .5em;
    box-shadow: 0px 0px 2px .5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    #add-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid purple;
    }

    #add-form #form-data{
        width: 100%;
        border: 1px solid red;
    }

    #form-data .custom-radio{
        flex-wrap: wrap;
    }

    #add-form #previewImg{
        width: 100%;
    }
}