*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
}

#wrapper{
    padding: 2vw;
    display: flex;
    gap: 1.5vw;
}

#wrapper img{
    height: 50vh;
    border-radius: .5em;
}

#wrapper #content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5em;   
}

#content-wrapper h4{
    font-size: 1.25vw;
    color : #434343;
}

#content-wrapper #type{
    font-size: 1vw;
    color: #666666;
}

#content-wrapper #rent{
    font-size: 1vw;
    cursor: pointer;
    color: #5cb85c;
}

#content-wrapper #price{
    font-size: 1vw;
    cursor: pointer;
    color: #20c120;
}

@media screen and (max-width: 480px){
    #wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 1em;
    }

    #wrapper img{
        height: 40vh;
        aspect-ratio: 16/9;
    }

    #content-wrapper h4{
        font-size: 5vw;
    }

    #content-wrapper #type, #content-wrapper #rent, #content-wrapper #price{
        font-size: 4vw;
    }
}