*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
}

.wrapper{
    background-color: #f0f0f0;
    height: 100%;
}

#home-page-container{
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#texts h2{
    color: #1b2846;
}

#texts h3{
    color: #6c6e73;
}

#home-btns{
    width: 100%;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#texts #search-prop-btn{
    text-align: center;
    padding: .75em;
    background-color: #1b2846;
    color: white;
    text-decoration: none;
    outline: none;
    border-radius: 5em;
}

#texts #book-appointment-btn{
    text-align: center;
    color: #1b2846;
    background-color: inherit;
    border: 1px solid #1b2846;
    border-radius: 5em;
    padding: .75em;
    text-decoration: none;
}

#img-slider{
    width: 50%;
    user-select: none;
    position: relative;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#img-slider img{
    width: 100%;
    aspect-ratio: 16/9;
}

.dirct-btn{
    width: 2.25em;
    height: 2.25em;
    background-color: #1b2846;
    border-radius: .25em;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-btn{
    top: 50%;
    left: -2%;
}

#left-btn svg{
    transform: rotate(-180deg);
}

#right-btn{
    top: 50%;
    right: -2%;
}

@media screen and (max-width: 600px){
    #home-page-container{
        width: 100%;
        height: 90%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        gap: 1.5em;
    }

    #texts{
        width: inherit;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #home-btns{
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #img-slider{
        user-select: none;
        position: relative;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
    }

    #img-slider img{
        width: inherit;
        aspect-ratio: 16/9;
    }
}