<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/logo.png" />
    <link rel="stylesheet" href="./css/head-foot.css" />
    <link rel="stylesheet" href="./css/add-property.css" />
    <title>Add Property</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="./js/app.js" type="text/javascript"></script>
</head>
<body ng-app="SHApp" ng-controller="appCtrl" ng-init="init()">
    <header>
        <div>
            <img alt="logo.png" title="Logo" width="75em" height="50em" src="assets/logo.png" />
            <a class="appName" href="index.html"> Search Home </a>
        </div>
        <ul>
            <li>
                <a href="index.html"> Home </a>
            </li>
            <li>
                <a href="properties.html"> Properties </a>
            </li>
            <li>
                <a href="contact.html"> Contact us </a>
            </li>
            <li>
                <a href="About.html"> About us </a>
            </li>
            <li>
                <a class="sign-in-up" href="signin.html"> Sign In / Sign Up </a>
            </li>
        </ul>
    </header>

    <div class="wrapper">
        <form action="/add-prop-data" id="add-form"  method="post" enctype="multipart/form-data">
            <div id="form-data">
                <h3> Location </h3>
                <select name="state" required ng-model="selectedState" ng-change="fetchCities()">
                    <option value=""> -- Select State -- </option>
                    <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                </select>

                <select name="cities" required ng-model="selectedCity">
                    <option value=""> -- Select City -- </option>
                    <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>

                <h3> Size </h3>

                <div class="custom-radio">
                    <input type="radio" required name="size" ng-click="showOtherField('N')" value="1BHK" />
                    <label for="1">1BHK</label>

                    <input type="radio" required name="size" ng-click="showOtherField('N')" value="2BHK" />
                    <label for="1">2BHK</label>

                    <input type="radio" required name="size" ng-click="showOtherField('N')" value="3BHK" />
                    <label for="1">3BHK</label>

                    <input type="radio" required name="size" ng-click="showOtherField('N')" value="4BHK" />
                    <label for="1">4BHK</label>
                    
                    <input type="radio" required name="size" ng-click="showOtherField('Y')"/>
                    <label for="1">Other</label>

                </div>

                <input id="other-size" required type="text" ng-show="isOFVisible" ng-model="propSize" placeholder="Other" />

                <h3> Type </h3>

                <div class="custom-radio">
                    <input type="radio" required name="type" value="Tenement" />
                    <label for="type">Tenement</label>

                    <input type="radio" required name="type" value="Apartment" />
                    <label for="type">Apartment</label>

                    <input type="radio" required name="type" value="Penth House" />
                    <label for="type">Penth House</label>

                    <input type="radio" required name="type" value="Fetch" />
                    <label for="type">Flat</label>

                    <input type="radio" required name="type" value="Villa" />
                    <label for="type">Villa</label>

                    <input type="radio" required name="type" value="Bungalow" />
                    <label for="type">Bungalow</label>
                </div>

                <div id="custom-file-upload-wrapper">
                    <input type="file" required name="file" id="imageInput" onchange="angular.element(this).scope().previewImg(event)"" accept="image/*" />
                    <label> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#ffffff"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg> Upload Image </label>
                </div>
                <button type="submit" id="add-prop-btn"> Add Property </button>
            </div>
            <img ng-src="{{PreviewImage}}" ng-show="PreviewImage != null" id="previewImg" />
        </form>
    </div>

    <footer>
        <div class="quick-links">
            <h4> Quick Links </h4>
            <ul>
                <li>
                    <a href="index.html"> Home </a>
                </li>
                <li>
                    <a href="contact.html"> Contact us </a>
                </li>
                <li>
                    <a href="About.html"> About us </a>
                </li>
            </ul>
        </div>
        <div class="recent">
            <h4> New </h4>
            <div class="imgs">
                <div id="img1" class="cmn-img"> <img src="./assets/img1.jpg" /> </div>
                <div id="img2" class="cmn-img"> <img src="./assets/img2.jpg" /> </div>
                <div id="img3" class="cmn-img"> <img src="./assets/img3.jpg" /> </div>
                <div id="img4" class="cmn-img"> <img src="./assets/img4.jpg" /> </div>
                <div id="img5" class="cmn-img"> <img src="./assets/img5.jpg" /> </div>
                <div id="img6" class="cmn-img"> <img src="./assets/img6.jpg" /> </div>
            </div>   
        </div>
        <div class="contact">
            <h4> Search Home </h4>
            <h5> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#ffffff"><path d="M480-301q99-80 149.5-154T680-594q0-90-56-148t-144-58q-88 0-144 58t-56 148q0 65 50.5 139T480-301Zm0 101Q339-304 269.5-402T200-594q0-125 78-205.5T480-880q124 0 202 80.5T760-594q0 94-69.5 192T480-200Zm0-320q33 0 56.5-23.5T560-600q0-33-23.5-56.5T480-680q-33 0-56.5 23.5T400-600q0 33 23.5 56.5T480-520ZM200-80v-80h560v80H200Zm280-520Z"/></svg> N.H. 8, Bus Stand, Nathdwara, Rajasthan - 313301, India </h5>
            <h5> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#ffffff"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg> <a href="tel:8890423600"> +91 8890423600 </a> </h5>
            <h5> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#ffffff"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg> <a href="mailto:search.home@gmail.com"> search.home@gmail.com </a> </h5>
        </div>
    </footer> 
</body>
</html>